@model IEnumerable<Project.Models.ViolazioneOver10Punti>

@{
    ViewData["Title"] = "Violazioni con oltre 10 punti decurtati";
}

<h1 class ="bg-opacity-25 bg-warning text-center">Violazioni con oltre 10 punti decurtati</h1>
<div class="mb-3 btn-sticky">
    <a asp-controller="Home" asp-action="Index" class="btn btn-danger">INDIETRO</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Importo</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Data di Violazione</th>
            <th>Decurtamento Punti</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Importo</td>
                <td>@item.Nome</td>
                <td>@item.Cognome</td>
                <td>@item.DataViolazione.ToShortDateString()</td>
                <td>@item.DecurtamentoPunti</td>
            </tr>
        }
    </tbody>
</table>

