@model List<Project.Models.Prenotazione>

@{
    ViewData["Title"] = "Risultati della Ricerca";
}

<h2>@ViewData["Title"]</h2>

@if (Model != null && Model.Any())
{
     <div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>ID Prenotazione</th>
                <th>Data Prenotazione</th>
                <th>Num Progressivo</th>
                <th>Anno</th>
                <th>Soggiorno Dal</th>
                <th>Soggiorno Al</th>
                <th>Caparra</th>
                <th>Tariffa</th>
                <th>Tipo Pensione</th>
                <th>ID Persona</th>
                <th>ID Camera</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prenotazione in Model)
            {
                <tr>
                    <td>@prenotazione.IdPrenotazione</td>
                    <td>@prenotazione.DataPrenotazione.ToShortDateString()</td>
                    <td>@prenotazione.NumProgressivo</td>
                    <td>@prenotazione.Anno</td>
                    <td>@prenotazione.SoggiornoDal.ToShortDateString()</td>
                    <td>@prenotazione.SoggiornoAl.ToShortDateString()</td>
                    <td>@prenotazione.Caparra</td>
                    <td>@prenotazione.Tariffa</td>
                    <td>@prenotazione.TipoPensione</td>
                    <td>@prenotazione.IdPersona</td>
                    <td>@prenotazione.IdCamera</td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    <a asp-controller="Home" asp-action="Management" class="btn btn-secondary">Indietro</a>
}
else
{
    <p>Nessun risultato trovato.</p>
}
